{% extends 'flatpages/default.html' %}

{% load censor_filters %}

{% block title %}News{% endblock title %}


{% block content %}
  {% for n in allnews %}
    <h5>{{ n.header|censor_filter }}</h5>
    <p>{{ n.time_to_update|date:'M d Y' }}, {{ n.text|truncatechars:61|censor_filter }}</p>
    <a href="{% url 'news_detail' n.pk %}">Читать новость</a>
    {% if not forloop.last %}
    <hr>
    {% endif %}
  {% empty %}
    <h2 style="text-align: center; margin-top: 20px">No news here</h2>
  {% endfor %}

  <!-- Проверяем, что поддерживается постраничный вывод -->
  {% if is_paginated %}
  <div>
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
      <a href="?page=1">First</a>
      <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a>{{ num }}</a>
      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">>>></a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  </div>
  {% endif %}

{% endblock content %}
