{% extends 'flatpages/default.html' %}

{% load censor_filters %}

{% block title %}Search news{% endblock title %}

{% block content %}
  <div style="padding: 1rem">
    <!-- Перед списком новостей добавим форму для поиска -->
    <form method="GET">
      {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. -->
      <input type="submit" value="Найти">
    </form>
  </div>

  {% for n in search %}
    <h5>{{ n.header|censor_filter }}</h5>
    <p>{{ n.time_to_update|date:'M d Y' }}, {{ n.text|truncatechars:61|censor_filter }}</p>
    <a href="{% url 'news_detail' n.pk %}">Читать новость</a>
    {% if not forloop.last %}
    <hr>
    {% endif %}
  {% empty %}
    <h2 style="text-align: center; margin-top: 20px">No matching news</h2>
  {% endfor %}

{% endblock content %}