<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>
        {% load static %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/news.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a class="navbar-brand" href="{% url 'home' %}">NewsPaper</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                   <ul class="navbar-nav ml-auto">
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'home' %}">Home</a>
                       </li>
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'news_search' %}">Search</a>
                       </li>
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'news_categories' %}">Categories</a>
                       </li>
                       {% if not request.user.is_authenticated %}
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'account_login' %}">SignIn</a>
                       </li>
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'account_signup' %}">SignUp</a>
                       </li>
                       {% elif is_not_authors %}
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'account_logout' %}">SignOut</a>
                       </li>
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'upgrade' %}">Become an author!</a>
                       </li>
                       {% elif is_authors %}
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'news_add' %}">Add news</a>
                       </li>
                       <li class="nav-item active">
                           <a class="nav-link" href="{% url 'account_logout' %}">SignOut</a>
                       </li>
                       {% endif %}
                   </ul>
               </div>
           </div>
        </nav>
        <!-- Page content-->
        <div class="container">
           <div class="row">
               {% block content %}
               {{ flatpage.content }}
               {% endblock content %}
           </div>
        </div>
    </body>
</html>
